.container {
  box-sizing: border-box;
}

.row {
  background-color: #b8b8b88e;
  margin-top: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}


.header {
  font-family: Abel;
  background-color: #0099cc;
  color: #31f7f7;
  padding: 15px;
  text-align: center;
}

.search {
  text-align: center;  
  padding: 20px 40px 20px 15px;
}

.input_search {
  padding: 10px; font-size: large; border-radius: 20px; width: 100%;
}

.title { 
  background-color: #0099cc; 
  width: 100%; 
  color: #31f7f7; 
  padding: 10px;
}

.date {
  color:#808080; 
  padding: 10px;
}

.description {
  color:#4F4F4F; 
  padding: 10px;
}

.genre {
  margin-top: 10px;
}

.item_genre {
  border: 2px solid #0099cc;
  color: #0099cc;
  padding:10px; 
  display: inline-block; 
  border-radius: 20px; 
  margin: 5px;
}

.item {
  text-align: center;
}

.item_page {
  border: 2px solid #0099cc;
  color: #0099cc;
  padding:10px 15px 10px 15px; 
  display: inline-block; 
  border-radius: 50px; 
  margin: 5px;
  cursor: pointer;
}


/* For desktop: */
.col_1 {width: 8.33%; float: left;}
.col_2 {width: 16.66%; float: left;}
.col_3 {width: 25%; float: left;}
.col_4 {width: 33.33%; float: left;}
.col_5 {width: 41.66%; float: left;}
.col_6 {width: 50%; float: left;}
.col_7 {width: 58.33%; float: left;}
.col_8 {width: 66.66%; float: left;}
.col_9 {width: 75%; float: left;}
.col_10 {width: 83.33%; float: left;}
.col_11 {width: 91.66%; float: left;}
.col_12 {width: 100%; float: left;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col_1 { width: 100%; }
  .col_2 { width: 100%; }
  .col_3 { width: 100%; }
  .col_4 { width: 100%; }
  .col_5 { width: 100%; }
  .col_6 { width: 100%; }
  .col_7 { width: 100%; }
  .col_8 { width: 100%; }
  .col_9 { width: 100%; }
  .col_10 { width: 100%; }
  .col_10 { width: 100%; }
  .col_11 { width: 100%; }
  .col_12 { width: 100%; }

}