.container {
  box-sizing: border-box;
}

.row {
  background-color: #b8b8b88e;
  margin-top: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}


.header {
  font-family: Abel;
  background-color: #0078a0;
  color: #31f7f7;
  padding: 15px;
  text-align: center;
}

.search {
  text-align: center;  
  padding: 20px 40px 20px 15px;
}

.input_search {
  padding: 10px; 
  font-size: large; 
  border-radius: 20px; 
  width: 100%;
  box-shadow: 1px 1px 3px black;
}

.title { 
  background-color: #0078a0; 
  color: #31f7f7; 
  padding: 10px;
}

.title_r { 
  color: #0078a0; 
  padding: 10px;
}

.date {
  color:#808080; 
  padding: 10px;
}

.date_r {
  color:#808080; 
  padding: 10px;
  float: right;
}

.description {
  color:#4F4F4F; 
  padding: 10px;
}

.genre {
  margin-top: 10px;
}

.item_genre {
  border: 2px solid #0078a0;
  color: #0078a0;
  padding:10px; 
  display: inline-block; 
  border-radius: 20px; 
  margin: 5px;
}

.item {
  text-align: center;
}

.item_page {
  color: #0099cc;
  padding:10px 15px 10px 15px; 
  display: inline-block; 
  border-radius: 50px; 
  margin: 5px;
  cursor: pointer;
}

.item_page_selected {
  border: 2px solid #0078a0;
  color: #0078a0;
  padding:10px 15px 10px 15px; 
  display: inline-block; 
  border-radius: 50px; 
  margin: 5px;
  cursor: pointer;
}

.detail {
  display: inline-block; 
  margin: 10px;
}

.detail_button {
  background-color: #0078a0;
  color: #31f7f7;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.detail_button:hover {
  box-shadow: 1px 1px 3px black;
}

.sub_title{
  color: #0078a0;
}

.separator{
  color: #0078a0;
}

.item_info {
  color: #0078a0;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.item_info_value {
  font-size: small;
  color: #4F4F4F;
}

.boxVideo {
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 25px;
  height: 0;
  margin:0 auto;
}
.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  display: inline-block; 
  margin: 10px;
}
  
.back_button {
  background-color: #0078a0;
  color: #31f7f7;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
  
.back_button:hover {
  box-shadow: 1px 1px 3px black;
}


/* For desktop: */
.col_1 {width: 8.33%; float: left;}
.col_2 {width: 16.66%; float: left;}
.col_3 {width: 25%; float: left;}
.col_4 {width: 33.33%; float: left;}
.col_5 {width: 41.66%; float: left;}
.col_6 {width: 50%; float: left;}
.col_7 {width: 58.33%; float: left;}
.col_8 {width: 66.66%; float: left;}
.col_9 {width: 75%; float: left;}
.col_10 {width: 83.33%; float: left;}
.col_11 {width: 91.66%; float: left;}
.col_12 {width: 100%; float: left;}

.col_1_r {width: 8.33%; float: right;}
.col_2_r {width: 16.66%; float: right;}
.col_3_r {width: 25%; float: right;}
.col_4_r {width: 33.33%; float: right;}
.col_5_r {width: 41.66%; float: right;}
.col_6_r {width: 50%; float: right;}
.col_7_r {width: 58.33%; float: right;}
.col_8_r {width: 66.66%; float: right;}
.col_9_r {width: 75%; float: right;}
.col_10_r {width: 83.33%; float: right;}
.col_11_r {width: 91.66%; float: right;}
.col_12_r {width: 100%; float: right;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col_1 { width: 100%; }
  .col_2 { width: 100%; }
  .col_3 { width: 100%; }
  .col_4 { width: 100%; }
  .col_5 { width: 100%; }
  .col_6 { width: 100%; }
  .col_7 { width: 100%; }
  .col_8 { width: 100%; }
  .col_9 { width: 100%; }
  .col_10 { width: 100%; }
  .col_10 { width: 100%; }
  .col_11 { width: 100%; }
  .col_12 { width: 100%; }

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col_1_r { width: 100%; }
  .col_2_r { width: 100%; }
  .col_3_r { width: 100%; }
  .col_4_r { width: 100%; }
  .col_5_r { width: 100%; }
  .col_6_r { width: 100%; }
  .col_7_r { width: 100%; }
  .col_8_r { width: 100%; }
  .col_9_r { width: 100%; }
  .col_10_r { width: 100%; }
  .col_10_r { width: 100%; }
  .col_11_r { width: 100%; }
  .col_12_r { width: 100%; }

}